* {
    box-sizing: border-box;
    line-height: 1.5;

}

body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: 'Montserrat', cursive;
}


.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url("../images/luca-dugaro-tuueCVnYN0s-unsplash.jpg"), center, no-repeat;
    background-size: cover;
    position: relative;
    width: auto;
    height: 30rem;
}

.hero-content {
    height: auto;
    width: 100%;
    text-align: center;
    color: white;
    margin: 10px;
}

.hero-title {
    color: #faddac;
    font-family: 'Kaushan Script', sans-serif;
    margin-bottom: 0;
    font-size: 46px;
    word-break: break-word;
    text-shadow: 0 3px 0 #b2a98f,
    0 14px 10px rgba(0, 0, 0, 0.15),
    0 24px 2px rgba(0, 0, 0, 0.1),
    0 24px 30px rgba(0, 0, 0, 0.1);
}

.hero-content > p {
    display: none;
}

.hero-attribution {
    font-size: 1.5vw;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 10px;
}

.hero-attribution, .hero-attribution > a {
    color: #ffeccc;
    text-decoration: none;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    padding: 2rem;
    position: sticky;
    top: 0;
    z-index: 100;

}

.input {
    width: 370px;
    background-color: #faddac;
    padding: 8px;
    font-size: 1.2rem;
    border: #faddac solid 1px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    margin-right: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.input:focus {
    outline: none;
    border: #cc7977 1px solid;
}


.submit-button {
    width: 120px;
    height: auto;
    background-color: #ca9795;
    color: #f2f2f2;
    font-size: 1.1rem;
    padding: 9px 5px;
    border: #faddac solid 1px;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.submit-button:focus {
    border: #926AA6 1px solid;
    outline: none;
}

.submit-button:active {
    background-color: #faddac;
}

.submit-button:disabled {
    background-color: #c2c2c2;
    color: #e5dada;
    border: none;
}

main {
    margin: 2rem auto;
    padding-top: 20px;
    width: 70%;
}

.card-image-gallery {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1.8rem;
}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card {
    opacity: 1;
    animation: fadeIn 3s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (min-width: 600px) {
    .card-image-gallery {
        grid-template-columns: repeat(2, 1fr);
    }

    .hero-title {
        font-size: 8vw;
    }

    .hero-content > p {
        display: block;
        font-size: 2vw;
    }

    .hero-attribution {
        font-size: 1vw;
    }
}

@media (min-width: 900px) {
    .card-image-gallery {
        grid-template-columns: repeat(3, 1fr);
    }

    .hero-title {
        font-size: 8vw;
    }

    .hero-content > p {
        display: block;
        font-size: 2vw;
        color: #f2f2f2;
        font-weight: bold;
    }

    .hero-attribution {
        font-size: 1vw;
    }
}
